<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.1.1" targetFramework="net462" />
  <package id="net.sf.mpxj-common" version="8.0.5" targetFramework="net461" />
  <package id="net.sf.mpxj-for-csharp" version="8.0.5" targetFramework="net461" />
  <package id="net.sf.mpxj-ikvm" version="8.0.5" targetFramework="net461" />
</packages>